@{
    ViewBag.Title = "Người giao hàng (Mock)";
    var data = new System.Collections.Generic.List<SV22T1020761.Models.Shipper>
    {
        new SV22T1020761.Models.Shipper { ShipperID = 1, ShipperName = "Shipper A", Phone = "0123" },
        new SV22T1020761.Models.Shipper { ShipperID = 2, ShipperName = "Shipper B", Phone = "0987" }
    };
    var displayCount = System.Math.Min(5, data.Count);
}

<div class="content-wrapper">
    <section class="content-header"><h1>Người giao hàng (Mock)</h1></section>
    <section class="content">
        <div class="card"><div class="card-body p-0">
            <table class="table table-striped mb-0">
                <thead><tr><th>#</th><th>Tên</th><th>Điện thoại</th></tr></thead>
                <tbody>
                    @for (int i = 0; i < displayCount; i++)
                    {
                        <tr>
                            <td>@data[i].ShipperID</td>
                            <td>@data[i].ShipperName</td>
                            <td>@data[i].Phone</td>
                            
                        </tr>
                    }
                </tbody>
            </table>
        </div></div>
    </section>
</div>
