@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!--begin::Footer-->
<footer class="app-footer bg-body-secondary">
    <div class="float-end d-none d-sm-inline">Anything you want</div>
    <strong>
        Copyright &copy; 2026&nbsp;
        <a href="~/" class="text-decoration-none">AdminLTE.io</a>.
    </strong>
</footer>
<!--end::Footer-->
